{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div data-view="Global.BackToTop"></div>
<div class="footer-simplified-content">

	<div class="footer-simplified-content-copyright">
		{{translate '&copy; 2004-2016 Ryonet Corporation<br>Powering The Print. All rights reserved.'}}
	</div>
</div>
