{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}


	<aside class="item-relations-correlated">
		<h2>{{translate 'Customers who bought this also bought'}}</h2>
		<div class="item-relations-correlated-row">
			<div data-type="backbone.collection.view.rows"></div>
		</div>
	</aside>
