/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.main, .layout-container {
	height: 100%;
	width: 100%;
}

@media (max-width:768px){
	.mobile-hide{
		display:none !important;
	}
}

@media (min-width:768px){
	.desktop-hide{
		display:none !important;
	}
}

%sc-layout {
	min-height: 100%;
}

%sc-footer {
}

.backimage{
   @media(min-width:990px){
   		display:none !important;
   }
   	
    z-index: -101;
    min-width: 100%;
    top:0%;
    width: 100%;
    position:relative;
    
}

.layout-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}