/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Primary buttons
//
// use for primary actions: Add to Cart, Submit, Proceed to Checkout, View Cart 
//
// .button-primary.button-large   	- Primary Large
// .button-primary.button-medium    - Primary Medium
// .button-primary.button-small  	- Primary Small
//
// Markup: <button class="{$modifiers}">Button Primary</button>
// 
// Styleguide 1.1



.button-primary{
	color:#FFFFFF;
	font-weight:$sc-font-weight-normal;
	background:$sc-color-primary;
	display:inline-block;
	border: 1px solid $sc-color-primary;
	border-radius: 4px;
}

.button-primary:hover{
	background:$sc-color-primary-hover;
	color:#FFFFFF;
	text-decoration:none;
}

.button-primary:active{
	background:$sc-color-primary-active;
}

.button-primary-disabled,
.button-primary:disabled{
	background:$sc-color-primary-disable;
	border: 1px solid $sc-color-primary-disable;
	cursor:default;
}


// Secondary buttons
//
// .button-secondary.button-large   - Secondary Large
// .button-secondary.button-medium  - Secondary Medium
// .button-secondary.button-small 	- Secondary Small
//
// Markup: <button class="{$modifiers}">Button Secondary</button>
// 
// Styleguide 1.2

.button-secondary{
	color:#FFFFFF;
	font-weight:$sc-font-weight-normal;
	background:$sc-color-secondary;
	display:inline-block;
	border: 1px solid $sc-color-secondary;
	border-radius: 4px;
}

.button-secondary:hover{
	background:$sc-color-secondary-hover;
	color:#FFFFFF;
	text-decoration:none;
}

.button-secondary:active{
	background:$sc-color-secondary-active;
}

.button-secondary:disabled{
	opacity:0.6;
	cursor:default;
}

.button-secondary:hover:disabled{
	background:$sc-color-secondary;
	opacity:0.6;
}

// Tertiary buttons
//
// .button-tertiary.button-large   	- Tertiary Large
// .button-tertiary.button-medium    - Tertiary Medium
// .button-tertiary.button-small  	- Tertiary Small
//
// Markup: <button class="{$modifiers}">Button Tertiary</button>
// 
// Styleguide 1.3

.button-tertiary{
	color:$sc-color-secondary;
	font-weight:$sc-font-weight-normal;
	background:$sc-color-tertiary;
	border:1px solid $sc-color-secondary;
	display:inline-block;
}

.button-tertiary:hover{
	color:$sc-color-tertiary;
	background:$sc-color-tertiary-hover;
	text-decoration:none;
}

.button-tertiary:active{
	background:$sc-color-tertiary-active;
}

.button-tertiary:disabled{
	opacity:0.6;
	cursor:default;
}

.button-tertiary:hover:disabled{
	opacity:0.6;
	background:none;
	color:$sc-color-secondary;
}

// Push buttons
//
// .push-button-primary   	- Push Button Primary (not present on desktop)
// .push-button-secondary    - Push Button Secondary (not present on desktop)
//
// Markup: <button class="{$modifiers}">Push Button Primary <i></i></button>
// 
// Styleguide 1.4

.push-button-primary{
	width:100%;
	color:$sc-color-tertiary;
	background:$sc-color-secondary;
	//letter-spacing:1px;
	font-size: $sc-button-large-font-size;
	padding:$sc-base-padding * 3;
	text-align:left;
}

.push-button-primary:active{
	background:$sc-color-secondary-active;
}

.push-button-primary > i{
	@extend .fa;
	@extend %fa-angle-right;
	font-size:$sc-h1-font-size;
	float:right;
	color:$sc-color-tertiary;
}

.push-button-secondary{
	width:100%;
	color:$sc-color-dark-copy;
	background:$sc-color-tertiary;
	font-size:$sc-h5-font-size;
	padding:$sc-base-padding * 3;
	border:1px solid $sc-color-theme-border;
	text-align:left;
}

.push-button-secondary:active{
	background:$sc-color-tertiary-active;
	color:$sc-color-tertiary;
}

.push-button-secondary > i{
	@extend .fa;
	@extend %fa-angle-right;
	font-size:$sc-h1-font-size;
	float:right;
	color:$sc-color-dark-copy;
}

@media (min-width: $screen-sm-min) {
	.push-button-primary,
	.push-button-secondary {
		display: none;
	}
}



// Icon buttons
//
// Markup: 
//	<button class="icon-button icon-button-primary"> <i class="fa fa-shopping-cart"></i></button>
//  <button class="icon-button icon-button-secondary"> <i class="fa fa-search"></i></button>
//
// Styleguide 1.5

.icon-button{
	background:$sc-color-primary;
	width: $sc-target-size;
	height: $sc-target-size;
}

.icon-button i{
	color:#FFFFFF;
	width: $sc-target-size;
	height: $sc-target-size;
	font-size:$sc-h1-font-size;
	line-height:$sc-target-size;

	@media(min-width: $screen-md-min){
		font-size:$sc-h2-font-size;
	}
}

.icon-button-primary{
	background:$sc-color-primary;
}

.icon-button-primary:hover{
	background:$sc-color-primary-hover;
}

.icon-button-primary:active{
	background:$sc-color-primary-active;
}

.icon-button-secondary{
	background:$sc-color-secondary;
}

.icon-button-secondary:hover{
	background:$sc-color-secondary-hover;
}

.icon-button-secondary:active{
	background:$sc-color-secondary-active;
}

// Icon Actions
//
// Markup: 
//	<button class="icon-button icon-button-controls"> <i class="fa fa-bars"></i></button>
//  <button class="icon-button icon-button-controls active"> <i class="fa fa-bars"></i></button>
//
// Styleguide 1.6

.icon-button-controls{
	background:$sc-color-tertiary;
	color:$sc-color-theme-light;
	border:1px solid $sc-color-theme-light;
	width: $sc-target-size;
	height: $sc-target-size;

	.active{
		color:$sc-color-primary;
		border:1px solid $sc-color-primary;
	}
}

.icon-button-controls.active {
	background:$sc-color-tertiary;
	color:$sc-color-primary;
	border:1px solid $sc-color-primary;

}

.icon-button-controls i{
	color:$sc-color-theme-light;
}

.icon-button-controls.active i{
	color:$sc-color-primary;
}


.button-large{
	padding:$sc-base-padding * 4 $sc-base-padding * 7;
	//letter-spacing:1px;
	font-size: $sc-button-large-font-size;
	width:100%;
	text-align: center;
	line-height:1;

	@media(min-width: $screen-sm-min){
		width: auto;
	}
}

.button-medium{
	padding:$sc-base-padding * 2.5 $sc-base-padding * 4;
	//letter-spacing:0.5px;
	font-size: $sc-button-medium-font-size;
	width:100%;
	text-align: center;
	line-height:1;

	@media(min-width: $screen-sm-min){
		width: auto;
	}
}


.button-list-header{
	height: $sc-target-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;

	padding-left: $sc-base-padding * 4;
	padding-right: $sc-base-padding * 4;
	//letter-spacing:0.5px;
	font-size: $sc-button-medium-font-size;
}

.button-list-header-shrink{
	padding-left: $sc-base-padding * 2;
	padding-right: $sc-base-padding * 2;

	@media (min-width: $screen-sm-min){
		padding-left: $sc-base-padding * 4;
		padding-right: $sc-base-padding * 4;
	}
}

.button-small{
	padding:$sc-base-padding * 2 $sc-base-padding * 3;
	font-size: $sc-button-small-font-size;
	text-align: center;
	line-height:1;
	border-radius: 4px;

	@media(min-width: $screen-sm-min){

	}
}

.button-generic{
	width:100%;
	text-align:center;
	line-height:1;
}


// Split buttons
//
// Markup: 
// <div class="split-button">
// 	<button type="button" class="button-tertiary button-small">Split Button</button>
// 	<button type="button" class="button-tertiary button-small split-button-toggle" data-toggle="split-action">
// 	<i class="fa fa-angle-down"></i>
// 	</button>
// 	<ul class="split-button-dropdown" role="menu">
// 		<li><a href="#">item 1</a></li>
// 		<li><a href="#">item 2</a></li>
// 		<li><a href="#">item 3</a></li>
// 		<li><a href="#">item 4</a></li>
// 	</ul>
// </div>
//
// Styleguide 1.7

.split-button{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.split-button .split-button-toggle{
	border-left:0px;
	margin-left:-4px;
}

.split-button-dropdown{
	display:none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	min-width: 160px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid $sc-color-theme-border;
	border-radius: 4px;
	color:$sc-color-secondary;
	margin-top: $sc-base-margin;
	font-size: 14px;
	@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

	a{
		display: block;
		padding: $sc-base-padding * 2;
		color:$sc-color-secondary;
	}

	a:hover{
		color: $sc-color-link;
	}
}

.open .split-button-dropdown{
	display: inline-block;
}

// Back Button
//
// used on all myaccount back links
//
// Markup: 
// <a href="/" class="button-back">
// 	<i class="button-back-icon"></i>
// 	Back to Account
// </a>
//
// Styleguide 1.8

.button-back{
	
	display:block;
	margin-bottom: $sc-base-margin * 3;
	padding-top: $sc-base-padding;
	padding-bottom: $sc-base-padding;

	@media (min-width: $screen-sm-min){
		display: none;
	}
}

.button-back-icon{
	@extend .icon-base;
	@extend %fa-angle-left;
	margin-right: $sc-base-margin;
}

// Positioning for buttons mobile-tablet
//
//
// Styleguide 1.8

.button-positioning-stack2next{

	margin-top: $sc-base-margin * 2;

	@media (min-width: $screen-sm-min){
		margin-top: 0;
		margin-left: $sc-base-margin;
	}
}

.button-positioning-next2stack{

	display: inline-block;
	margin-left: $sc-base-margin ;

	@media (min-width: $screen-sm-min){
		display: block;
		margin-top: $sc-base-margin * 2;
		margin-left: 0;	
	}
}

.button-pill {
	display:inline-block;
	border: 1px solid $sc-color-theme-light;
	color: $sc-color-theme;
	width:auto;
}

.button-pill:hover{
	background-color: $sc-color-theme-background-light;
	color: $sc-color-theme;
}

.button-pill-active{
	width:auto;
	display:inline-block;
	background-color: $sc-color-secondary;
	border: 1px solid $sc-color-secondary;
	color: #fff;
}
