/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

//Search Content dropdown
.nav-search {
    display: none;
    //border-bottom: 1px solid $sc-color-theme-border;
    //border-top: 1px solid $sc-color-theme-border;
    width: 100%;

    @media (min-width: $screen-md-min){
        padding: $sc-base-padding * 2 0;
        border-top:0;
    }
}
.nav-search-content{
    @extend .container;  
    clear:both;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
    padding: 0;
    position:relative;

    @media (min-width: $screen-md-min){
        width: 100%;
        margin:0 auto 0;
    }

    @media (min-width: $screen-md-min){
        //Search Content dropdown arrow
   /*     &::before {
            position: absolute;
            top: -17px;
            right: -155px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
            z-index: 1001;
        }
        
        &::after {
            position: absolute;
            top: -16px;
            right: -154px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $sc-color-tertiary;
            border-left: 6px solid transparent;
            content: '';
            z-index: 1001;
        }*/
    }
}

@media (min-width: $screen-lg-min) {
    .nav-search-content:after {
        right: -257px;
    }
    .nav-search-content:before {
        right: -258px;
    }
}

//Search Content form
.nav-search-content-input{
    width: 100%;
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 45px;
    border-radius: 4px;
    
    
    @media (max-width: $screen-md-min){
        margin-top:20px;
    }
}
.nav-search-content-input span{
    width:100%;
}
.nav-search-input-icon {
    position: absolute;
    top: 8px;
    font-size:$sc-h2-font-size;
    left: 8px;
    color:$sc-color-theme-light;
    z-index: 99;

    @extend .fa;
    @extend %fa-search;
}
.nav-search-input {
    padding-left: $sc-base-padding * 7;
    height:30px;
    box-shadow:none;
    margin: 0; 
    width: calc(80% - #{$sc-base-padding * 8});
    
    width: expression(80% - #{$sc-base-padding * 8});/* IE-OLD */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media (min-width:$screen-md-min){
        width: calc(100% - #{$sc-base-padding * 18});
        width: expression(100% - #{$sc-base-padding * 18});/* IE-OLD */
    }
}
.nav-search-input:focus{
    outline:none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}
.nav-search-input-reset {
    display: none;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 50px;
    height: 30px;
    cursor: pointer;
    font-size: $sc-h4-font-size;
    padding:$sc-base-padding;
    background: #FFF;

    @media (min-width: $screen-md-min){
        right: 50px;
    }
}
.nav-search-input-reset-icon{
    @extend .fa;
    @extend %fa-times-circle; 
    color: $sc-color-theme-light; 
    font-size: $sc-h3-font-size; 
}
.nav-search-button-submit{
    border-radius:0px;
    border:2px solid white;
    background:$ryonet-green;
    color:$white;
    padding: $sc-base-padding;
    float:right;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    margin-top: 10px;
    font-size:	13px;
    font-weight: 500;

    @media (min-width: $screen-md-min){
        visibility: visible;
    }
}

.nav-search-row {
	width:40%;
}
@media (max-width:991px){
	.nav-search-row {
		width:80%;
	}
}
.nav-search-button-submit:hover, .nav-search-button-submit:focus {
    background:#649f38;
    color:$white;
}
//Serach Button close toggle
.nav-search-button-close{
    border-radius:0px;
    border:0px;
    background:$sc-color-theme-background-light;
    color:$sc-color-theme;
    border-left: 1px solid $sc-color-theme-border;
    height:30px;
    width: 20%;
    float: right;
    text-align: center;
    line-height: 27px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: 992px){
        display: none;
    }
}
//Typeahead plugin
.tt-dropdown-menu {
    width:100%;
    background:#FFF;
    margin-top: 1px;
    border-left: 1px solid rgba(91, 127, 140, 0.3);
    border-right: 1px solid rgba(91, 127, 140, 0.3);
    border-bottom: 1px solid rgba(91, 127, 140, 0.3);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
    overflow:hidden;
    
    @media (min-width: $screen-md-min){
        margin-top: $sc-base-margin * 2;
    }
}
.tt-dropdown-menu-shadow-fix {
    @include box-shadow(inset 0px 4px 6px -6px $sc-color-theme);
    height: 3px;
}
.tt-suggestions{
    cursor:pointer;
    cursor:hand;
    padding:0;
    font-size:$sc-small-font-size;
}
//Typeahead headers
.all-results{
    display:block;
    border-bottom:1px solid $sc-color-theme-border;
    color:$sc-color-link;
    padding-bottom:$sc-base-padding * 2;
    font-size:$sc-h4-font-size;
    margin:$sc-base-margin * 4 $sc-base-margin * 7 $sc-base-margin * 2 $sc-base-margin * 7;
    text-transform: capitalize;
}
.all-results:hover {
    color: $sc-color-link-hover;
    text-decoration: underline;
}
.no-results{
    @extend .all-results;
    border-bottom:0;
    color: $sc-color-copy;
}
.no-results:hover{
    text-decoration: none;
    color: $sc-color-copy;
}
.searching{
    @extend .no-results;
    color:$sc-color-copy;
}
//Typeahead Item
.item-results {
    padding: $sc-base-padding * 3 0;
    cursor: pointer;
    display: block;
    @extend .clearfix;
}
.item-results:hover {
    background:$sc-color-theme-background-light;
}
.tt-cursor:first-child {
    background: none;
}
.tt-cursor {
    background:$sc-color-theme-background-light;
}
.item-results-image{    
    width: 25%;
    float: left;
    display: none;

    padding-left:$sc-base-padding * 7;

    @media (min-width: $screen-sm-min){
        display: block;
    }
}
.item-results-content{
    width: 75%;
    float: left;
    padding-left:$sc-base-padding * 7;

    @media (min-width:$screen-sm-min){
        padding: 0 $sc-base-padding * 3;
    }
    .global-views-star-rating {
        display: none;
        @media (min-width:$screen-sm-min){
            display: block;
        }
    }
}
.item-results-title{
    margin-bottom:$sc-base-margin;
    display:block;
    font-size: $sc-base-font-size;
}
.tt-highlight {
    font-weight: $sc-font-weight-semibold;
    color: $sc-color-primary;
}
.item-results:hover .item-results-title {
    color: $sc-color-link;
}
.item-results-rate{
    display: none;
    margin-top:$sc-base-margin;

    @media (min-width: $screen-sm-min){
        display: block;
    }
    i{
        font-size: 16px;
        letter-spacing: 2px;
    }
}