/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-facet-browse {
	@extend .container;
}

.facets-facet-browse-breadcrum {
	@extend .breadcrumb;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	border-bottom: 1px solid $sc-color-theme-border;
	padding-bottom: $sc-base-margin * 3;
}

.search-image-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
}

.facet-page-banner-content {
    @extend .clearfix;
}

.facet-content-box {
    @extend .col-sm-4;
}
.facet-content-holder {
    @extend .col-sm-12;
}

.facets-facet-browse-title {
	font-size: $sc-h3-font-size;
	margin-top: 4 * $sc-base-margin;
	margin-bottom: 3 * $sc-base-margin;
	font-weight: $sc-font-weight-semibold;

	@media (min-width:$screen-sm-min) {
		margin-top: 3 * $sc-base-margin;
		float: left;
	}

	@media (min-width: $screen-md-min) {
		margin-top: 2 * $sc-base-margin;
	}
}

.facets-facet-browse-title-alt {}

.facets-facet-browse-list-header {
	@extend .list-header;
}

.facets-facet-browse-list-header-actions {
	@extend .list-header-actions;
}

.facets-facet-browse-list-header-expander {
	@extend .list-header-expander;
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-filters {
	@extend .list-header-filters;
}

.facets-facet-browse-list-header-filters-wrapper {
	@extend .list-header-filters-wrapper;
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
}

.facets-facet-browse-list-header-filter-column {
	@extend .list-header-filter-column;
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
}

.facets-facet-browse-list-header-filter-facets-icon {
	@extend .list-header-filter-facets-icon;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content, 
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	background-color: #fff;
	overflow-x:hidden;

	@media (min-width: $screen-md-min) {
		overflow:hidden;
		padding-right: $sc-base-padding * 5+3;
		@include box-shadow(none);
		width: 25%;
		background-color:transparent;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0px;
}

.facets-facet-browse-results {
	@extend .col-md-9;
	padding: 0;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-medium-margin;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding-top: $sc-base-padding * 4;
	padding-bottom: $sc-base-padding * 4;
	text-transform: capitalize;
	line-height: 35px;

	@media (min-width:$screen-md-min) {
		padding-top: $sc-base-padding * 6;
		padding-left: $sc-base-padding * 3;
		padding-right: $sc-base-padding * 3;
	}
}

.facets-facet-browse-items {

	.item-cell-price {
		margin-bottom: $sc-small-margin;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

.facets-facet-browse-pagination {
	float: right;
	margin-bottom: $sc-large-margin;
}