/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-cell-grid {
	@extend .item-cell;
}

.facets-item-cell-grid-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-grid-quick-view-link {
	@extend .item-cell-quick-view-link;
}

.facets-item-cell-grid-image-wrapper {
	position:relative;
	text-align:center;
}

.facets-item-cell-grid-link-image {}

.facets-item-cell-grid-quick-view-icon {}

.facets-item-cell-grid-stock {}

.facets-item-cell-grid-add-to-cart-itemid {}

.facets-item-cell-grid-details {
	text-align:center;
}

.facets-item-cell-grid-image {
	@extend .item-cell-image;
	width:100%;
	height:auto;
}

.facets-item-cell-grid-title {
	@extend .item-cell-title;
	height: 90px;
}

.facets-item-cell-grid-sku {
	@extend .item-cell-title;
	font-size: 12px;
	color: $dark-grey;
	
	.a	{
	color: $dark-grey;
	}
}

.facets-item-cell-grid-price {
	@extend .small-price;
	margin-bottom:$sc-small-margin;
}

.facets-item-cell-grid-rating {
	text-align:center;
	display: inline-block;
	height:31px;
}

.facets-item-cell-grid .item-details-option-color-tiles-container {
	@extend .color-picker-sm;
}

.facets-item-cell-grid .item-details-option-color-label {
	display:none;
}

.facets-item-cell-grid {
	.global-views-star-rating-area {
		margin-bottom:$sc-small-margin;
	}
}

.facets-item-cell-grid-add-to-cart-quantity {
	@extend .input-medium;
	width: 30%;
	min-width: 10px;
	float:left;
	padding: 10px 8px;
}

.facets-item-cell-grid-add-to-cart-button {
	@extend .button-primary;
	@extend .button-medium;
	width: 68%;
	padding: 11px 8px;
	float: right;
}