{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

 <div id="site-logo" class="content-banner"></div>

<a class="header-logo" href="/" data-touchpoint="home" title="{{headerLinkTitle}}">

{{#if logoUrl}}
	<img class="header-logo-image" src="{{{logoUrl}}}" alt="{{siteName}}">
{{else}}
	<span class="header-logo-sitename">
		{{siteName}}
	</span>
{{/if}}
</a>
