/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    background: $black;
    border-top: 1px solid $sc-color-theme-border;
    margin-top: 50px;
}
.footer-content{
    @extend .container;
    @extend .row;
    margin: auto;
}
.footer-content-nav {
    @extend .col-md-8;
    @extend .col-xs-12;
    padding-left: 0;
    padding-right: 0;
}
.footer-content-nav-list {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: $sc-base-padding * 6 0 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-base-padding * 5;
    }

    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}
.footer-content-nav-list > li {
    display: inline-block;
    margin-right: $sc-base-margin * 2;    font-weight: 300;
}
.footer-content-copyright {

    text-align:center;
    font-size: $sc-base-font-size;
    color: $grey;
    margin-bottom: $sc-base-padding * 3;

}
.footer-content-logos {

    text-align:center;
    font-size: $sc-base-font-size;
    color: $grey;

}

.home-cms-page-footer-table {

	@extend .col-sm-3;

}
.footer-body {
	color: #808285;
	font-size: 13px;
	
	b{
	color:$light-grey;
	font-weight:$sc-font-weight-semibold;
	}
	
	a{
	color: #808285;
	
	}
	a:hover{
	color:$ryonet-green;
	}
}

.footer-headline {
	@extend .footer-body;
	color:$white;
	font-weight:$sc-font-weight-semibold;
	
	a{
	color:$white;
	}
	
	a:hover{
	color:$ryonet-green;
	}
}

.bbb-img {

	width: 150px;

}