/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.site-search-item-results {
	@extend .item-results;
}

.site-search-item-results-image {
	@extend .item-results-image;

}

.site-search-item-results-content {
	@extend .item-results-content;

}

.site-search-item-results-title {
	@extend .item-results-title;
}
.typeahead-overlay{
	position: absolute;
	top:0px;
	left: 0px;
}
.typeahead-main-image{
	position: absolute; 
	left:0px; 
	top:0px; 
}
.site-search-item-image-container {
	position: relative; 
	margin-top:-10px; 
	width: 75px; 
	height: 75px;
	@media (max-width:768px){
		display:none;
	}
}
.site-search-item-tile{
	//margin-left: 120px; 
	//margin-top:-70px;
}